- content_for(:titlebar) do
  %h2 Account Settings

= simple_form_for(@manager, url: :profile, method: :put) do |f|
  %fieldset
    %ul.form
      = f.input :email
      %li.actions
        = f.button :submit, class: 'small button radius'
      
= simple_form_for(@manager, as: :password, url: :profile, method: :put) do |f|
  %fieldset
    %ul.form
      = f.input :current_password, hint: '(old password)'
      = f.input :password, hint: '(new password)'
      = f.input :password_confirmation, hint: '(new password confirmation)'
      %li.actions
        = f.button :submit, 'Update Password', class: 'small radius'
