%h1.center Unlock Account
= simple_form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f|
  %fieldset
    %ul
      = f.input :email, :required => true,
        label: 'Enter previously registered e-mail address!',
        placeholder: 'me@domain.com'
      %li.actions
        %p= render :partial => 'devise/shared/links'
        = f.button :submit, 'Unlock', class: 'small radius'
