= simple_form_for(@user) do |f|
  %fieldset
    %ul.form
      = f.input :name
      = f.input :username, wrapper_html: { class: 'inline' } do
        = f.text_field :username
        @
        = f.collection_select :domain_id, Domain.all, :id, :name
      = f.input :home
      = f.input :password
      = f.input :password_confirmation
      %li.actions
        = f.button :submit, class: 'small radius'
