- content_for(:titlebar) do
  %h2 Virtual Users
  .item-actions
    %a.small.blue.button.radius{ :href => url_for([:new, :user])} Add
    %a.small.red.button.radius{ :href => '#'} Delete

%table.zebra.bordered
  %thead
    %tr
      %th.checkbox= check_box_tag('teste')
      %th Name
      %th Username
      %th Domain
      %th Status
      %th.actions Actions
  - if @users.any?
    %tbody
      - @users.each do |user|
        %tr
          %td.checkbox= check_box_tag('teste')
          %td= link_to(user.name, [:edit, user])
          %td= user.username
          %td= link_to(user.domain, [:edit, user.domain])
          %td= status(user.active)
          %td
            = link_to('Edit', [:edit, user])
            |
            = link_to(toggle_action(user.active), [:block, user], method: :post)
            |
            = link_to('Delete', user, method: :delete)
