%h2.center Change Password
= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
  %fieldset
    = f.input :reset_password_token, :as => :hidden
    %ul
      = f.input :password, :label => "New password", :required => true
      = f.input :password_confirmation, :label => "Confirm your new password", :required => true
      %li.actions
        %p= render :partial => "devise/shared/links"
        = f.button :submit, "Change", class: 'small radius'
