%h1.center Recover Password
= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
  %fieldset
    %ul
      = f.input :email, :required => true,
        label: 'Enter previously registered e-mail address!',
        placeholder: 'me@domain.com'
      %li.actions
        %p= render :partial => "devise/shared/links"
        = f.button :submit, "Recover", class: 'small radius'
