- content_for(:titlebar) do
  %h2 E-Mail Domains
  .item-actions
    %a.small.blue.button.radius{ :href => url_for([:new, :domain])} Add
    %a.small.red.button.radius{ :href => '#'} Delete

%table.zebra.bordered
  %thead
    %tr
      %th.checkbox= check_box_tag('teste')
      %th Domain
      %th Status
      %th.actions Actions
  - if @domains.any?
    %tbody
      - @domains.each do |domain|
        %tr
          %td.checkbox= check_box_tag('teste')
          %td= link_to(domain.name, [:edit, domain])
          %td= status(domain.active)
          %td
            = link_to('Edit', [:edit, domain])
            |
            = link_to(toggle_action(domain.active), [:block, domain], method: :post)
            |
            = link_to('Delete', domain, method: :delete)
