= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  %fieldset.clearfix
    %ul
      = f.input :email, :required => false, label: false, placeholder: 'E-Mail'
      = f.input :password, :required => false, label: false, placeholder: 'Password'
      %li.actions
        %p
          = render :partial => "devise/shared/links"
        = f.button :submit, "Login", class: 'small radius'
