div.alert-box {
  display: block;
  padding: 6px 7px;
  @include font-shorthand(bold, 13px, $baseline);
  background: #eee;
  border: 1px solid rgba(0,0,0,0.1);
  margin-bottom: $baseline;
  @include border-radius(3px);
  text-shadow: 0 1px rgba(255,255,255,0.9);
  position: relative;
}
.alert-box.success, .alert-box.notice {
  background-color: #7fae00;
  color: #fff;
  text-shadow: 0 -1px rgba(0,0,0,0.3);
}
.alert-box.warning, .alert-box.alert {
  background-color: #c08c00;
  color: #fff;
  text-shadow: 0 -1px rgba(0,0,0,0.3);
}
.alert-box.error {
  background-color: #c00000;
  color: #fff;
  text-shadow: 0 -1px rgba(0,0,0,0.3);
}
