@import "normalize";
@import "grid";
@import "variables";
@import "mixins";
@import "typography";
@import "tables";
@import "gallery";
@import "buttons";
@import "forms";
@import "alerts";

$columns: 12;
$column-width: 60;
$gutter-width: 20;
$total-width: 100%;

body {
  background: #fff;
}

#page {
  padding: 0 20px 0 20px;
}

header {
  border-bottom: 1px solid #ccc;
  background: #fff;
  margin-bottom: 18px;
  padding: 5px 0 5px 18px;
  position: relative;
  @include vertical(#fafafa, #eaeaea);
}

#userbox {
  ul {
    margin: 0;
    list-style: none;
  }

  li {
    display: inline;
    float: left;
    border-left: 1px solid $gray-light;
    margin: 10px 0 10px 0;
  }

  li:first-child {
    border-left: none;
  }

  a {
    display: block;
    padding: 0 10px 0 10px;
    font-weight: bold;
    // letter-spacing: 1px;
    color: #555;
    &:hover {
      text-decoration: none;
      color: #000;
    }
  }
  
  // margin-top: -6px;
  // margin-left: 100px;
  position: absolute;
  top: 0;
  right: 18px;
  @include border-radius-br(6px);
  @include border-radius-bl(6px);
  background: #fff;
  @include box-shadow;
}

nav {
  width: 120px;
  margin-top: 90px;
  float: left;
}

nav, .nav-background { 
  background: #ddd; 
  border-right: 1px solid #bbb;
}

.nav-background {
  position: absolute;
  top: 105px;
  bottom: 0;
  width: 140px;
  z-index: -1;
}

article {
  background: #fff;
  margin-left: 140px;
  min-width: 300px;
}

table {
  width: 100%;
}

th.actions {
  width: 145px;
}

th.checkbox, td.checkbox {
  width: 10px;
  border-right: 1px solid $table-border-color;
}

nav ul {
  margin: 0;
}

nav .active {
  background: #fff;
  display: block;
  width: 120px;
  z-index: 1000;
  position: relative;
  @include border-radius(5px);

}

nav a {
  display: block;
  padding: 5px;
}

.window .content {
  // padding: 10px;
}

.window h1 {
  background: #aaa;
  padding: 5px 5px 5px 10px;
  margin-bottom: 0;
}

.breadcrumb {
  padding: 7px 14px;
  margin: 0 0 $baseline;
  @include vertical(#ffffff, #f5f5f5);
  border: 1px solid #ddd;
  @include border-radius(3px);
  @include box-shadow(inset 0 1px 0 $white);
  li {
    display: inline;
    text-shadow: 0 1px 0 $white;
  }
  .divider {
    padding: 0 5px;
    color: $gray-light;
  }
  .active a {
    color: $gray-dark;
  }
}

.titlebar {
  background: #ccc;
  margin: -18px -20px 18px -160px;
  @include vertical(#ffffff, #f5f5f5);
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  padding-top: 18px; 
  padding-left: 18px;
  padding-bottom: 18px;
  @include box-shadow;
  position: relative;
}

.titlebar h2 { 
  position: relative;
  left: -120px;
  color: $gray;
  @include serif(bold, 24px, 36px);
}

.right {
  float: right;
}

.item-actions {
  position: absolute;
  top: 21px;
  right: 20px;
}

form {
  background: #f5f5f5;
}

li.inline {
  label {
    display: block;
  }
  input, select {
    width: 45%;
  }
}

span.label {
  padding: 3px 6px 3px 6px;
  @include font-shorthand(bold, 11px);
  @include border-radius(3px);
}

span.inactive {
  background: $orange;
}

span.active {
  background: $green;
}
