.button {
  background: #00a6fc;
  display: inline-block;
  text-align: center;
  padding: 9px 34px 11px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  line-height: 1;
  position: relative;
  cursor: pointer;
  border: 1px solid #0593dc;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.28);
}

/* Don't use native buttons on iOS */
input[type=submit].button,
button.button { -webkit-appearance: none }

.button.radius {
  @include border-radius(2px);
}

.button.round {
  @include border-radius(1000px);
}

.button.full-width {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center;
}

.button.left-align {
  text-align: left;
  text-indent: 12px;
}

/* Sizes ---------- */
.small.button {
  font-size: 11px;
  padding: 8px 20px 10px;
  width: auto;
}

.medium.button {
  font-size: 13px;
  width: auto;
}

.large.button {
  font-size: 18px;
  padding: 11px 48px 13px;
  width: auto;
}

/* Colors ---------- */
.blue.button {
  background-color: #00a6fc;
  border: 1px solid #0593dc;
}

.red.button {
  background-color: #e91c21;
  border: 1px solid #b90b0b;
}

.white.button {
  background-color: #e9e9e9;
  color: #333;
  border: 1px solid #cacaca;
  text-shadow: none !important;
}

.black.button { 
  background-color: #141414;
  border: 1px solid #000
}

/* Hovers ---------- */
.button:hover,
.button:focus {
  background-color: #0192dd;
  color: #fff;
  text-decoration: none;
}

.blue.button:hover,
.blue.button:focus { background-color: #0192dd; }

.red.button:hover,
.red.button:focus { background-color: #d01217; }

.white.button:hover,
.white.button:focus {
  background-color: #dadada;
  color: #333;
}

.black.button:hover,
.black.button:focus { background-color: #000; }

/* Disabled ---------- */
.button.disabled,
.button[disabled] {
  opacity: 0.6;
  cursor: default;
}
