fieldset {
  margin-bottom: $baseline;
  padding-top: 10px;

  legend {
    display: block;
    padding-left: 150px;
    font-size: $basefont * 1.5;
    line-height: 1;
    color: $gray-dark;
    *padding: 0 0 5px 145px; /* IE6-7 */
    *line-height: 1.5; /* IE6-7 */
  }
}

.form {
  list-style: none;
  margin: 0;
}

.hint {
  font-style: italic;
}
// Set font for forms
label,
input,
select,
textarea {
  @include sans-serif(normal, 13px, normal);
}
 
label {
  color: $gray-dark;
  @include font-shorthand(bold, 12, 1.8);
  padding: 0 0 0 2px;
}
 
// Checkboxs and radio buttons
input[type=checkbox],
input[type=radio] {
  cursor: pointer;
}

// Inputs, Textareas, Selects
input[type=text],
input[type=email],
input[type=number],
input[type=password],
textarea,
.uneditable-input {
  display: inline-block;
  width: 98%;
  // height: $baseline;
  padding: 4px;
  font-size: $basefont;
  line-height: $baseline;
  color: $gray;
  border: 1px solid #ccc;
  @include border-radius(3px);
}

// remove padding from select
// select {
//   padding: initial;
// }
// 
// // mini reset for non-html5 file types
// input[type=checkbox],
// input[type=radio] {
//   width: auto;
//   height: auto;
//   padding: 0;
//   margin: 3px 0;
//   *margin-top: 0; /* IE6-7 */
//   line-height: normal;
//   border: none;
// }
// 
// input[type=file] {
//   background-color: $white;
//   padding: initial;
//   border: initial;
//   line-height: initial;
//   @include box-shadow(none);
// }
// 

input[type=button],
input[type=reset],
input[type=submit] {
  width: auto;
  height: auto;
}

// 
// select,
// input[type=file] {
//   height: $baseline * 1.5; // In IE7, the height of the select element cannot be changed by height, only font-size
//   *height: auto; // Reset for IE7
//   line-height: $baseline * 1.5;
//   *margin-top: 4px; /* For IE7, add top margin to align select with labels */
// }
// 
// // Make multiple select elements height not fixed
// select[multiple] {
//   height: inherit;
//   background-color: $white; // Fixes Chromium bug of unreadable items
// }
// 
textarea {
  height: auto;
}
// 
// // For text that needs to appear as an input but should not be an input
// .uneditable-input {
//   background-color: $white;
//   display: block;
//   border-color: #eee;
//   @include box-shadow(inset 0 1px 2px rgba(0, 0, 0, .025));
//   cursor: not-allowed;
// }
// 
// Placeholder text gets special styles; can't be bundled together though for some reason
:-moz-placeholder {
  color: $gray-light;
}

::-webkit-input-placeholder {
  color: $gray-light;
}

// Focus states
input,
textarea {
  $transition: border linear .2s, box-shadow linear .2s;
  @include transition($transition);
  @include box-shadow(inset 0 1px 3px rgba(0,0,0,.1));
}

input:focus,
textarea:focus {
  outline: 0;
  border-color: rgba(82,168,236,.8);
  $shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6);
  @include box-shadow($shadow);
}
// 
// input[type=file]:focus,
// input[type=checkbox]:focus,
// select:focus {
//   @include box-shadow(none); // override for file inputs
//   outline: 1px dotted #666; // Selet elements don't get box-shadow styles, so instead we do outline
// }
// 
// 
// // FORM FIELD FEEDBACK STATES
// // --------------------------
// 
// // Mixin for form field states
// Error
.field-with-errors {
  @include form-field-state(#b94a48, #ee5f5b, lighten(#ee5f5b, 30%));
}
// // Warning
// form .clearfix.warning {
//   @include form-field-state(#c09853, #ccae64, lighten(#CCAE64, 5%));
// }
// // Success
// form .clearfix.success {
//   @include form-field-state(#468847, #57a957, lighten(#57a957, 30%));
// }
// 
// // Disabled and read-only inputs
// input[disabled],
// select[disabled],
// textarea[disabled],
// input[readonly],
// select[readonly],
// textarea[readonly] {
//   background-color: #f5f5f5;
//   border-color: #ddd;
//   cursor: not-allowed;
// }
// 
// Actions (the buttons)
form .actions {
  background: #f5f5f5;
  margin: $baseline -8px 0 -8px;
  padding: 10px 10px 0px 0;
  border-top: 1px solid #ddd;
  text-align: right;
}


.help-inline,
.help-block {
  font-size: $basefont;
  line-height: $baseline;
  color: $gray-light;
}

.help-inline {
  padding-left: 5px;
  *position: relative; /* IE6-7 */
  *top: -5px; /* IE6-7 */
}

// Big blocks of help text
.help-block {
  display: block;
  max-width: 600px;
  padding: 1px 0 0 2px;
}
// 
// // Inline Fields (input fields that appear as inline objects
// .inline-inputs {
//   color: $gray;
//   span {
//     padding: 0 2px 0 1px;
//   }
// }
// 
// // Allow us to put symbols and text within the input field for a cleaner look
// .input-prepend,
// .input-append {
//   input {
//     @include border-radius(0 3px 3px 0);
//   }
//   .add-on {
//     position: relative;
//     background: #f5f5f5;
//     border: 1px solid #ccc;
//     z-index: 2;
//     float: left;
//     display: block;
//     width: auto;
//     min-width: 16px;
//     height: 18px;
//     padding: 4px 4px 4px 5px;
//     margin-right: -1px;
//     font-weight: normal;
//     line-height: 18px;
//     color: $gray-light;
//     text-align: center;
//     text-shadow: 0 1px 0 $white;
//     @include border-radius(3px 0 0 3px);
//   }
//   .active {
//     background: lighten($green, 30);
//     border-color: $green;
//   }
// }
// 
// .input-prepend {
//   .add-on {
//     *margin-top: 1px; /* IE6-7 */
//   }
// }
// 
// .input-append {
//   input {
//     float: left;
//     @include border-radius(3px 0 0 3px);
//   }
// 
//   .add-on {
//     @include border-radius(0 3px 3px 0);
//     margin-right: 0;
//     margin-left: -1px;
//   }
// }
// 
// // Stacked options for forms (radio buttons or checkboxes)
// .inputs-list {
//   margin: 0 0 5px;
//   width: 100%;
//   li {
//     display: block;
//     padding: 0;
//     width: 100%;
//   }
// 
//   label {
//     display: block;
//     float: none;
//     width: auto;
//     padding: 0;
//     margin-left: 20px;
//     line-height: $baseline;
//     text-align: left;
//     white-space: normal;
// 
//     strong {
//       color: $gray;
//     }
// 
//     small {
//       font-size: $basefont - 2;
//       font-weight: normal;
//     }
//   }
// 
//   .inputs-list {
//     margin-left: 25px;
//     margin-bottom: 10px;
//     padding-top: 0;
//   }
// 
//   &:first-child {
//     padding-top: 6px;
//   }
// 
//   li + li {
//     padding-top: 2px;
//   }
// 
//   input[type=radio],
//   input[type=checkbox] {
//     margin-bottom: 0;
//     margin-left: -20px;
//     float: left;
//   }
// }
// 
// // Stacked forms
// .form-stacked {
//   padding-left: 20px;
//   fieldset {
//     padding-top: $baseline / 2;
//   }
// 
//   legend {
//     padding-left: 0;
//   }
// 
//   label {
//     display: block;
//     float: none;
//     width: auto;
//     font-weight: bold;
//     text-align: left;
//     line-height: 20px;
//     padding-top: 0;
//   }
// 
//   .clearfix {
//     margin-bottom: $baseline / 2;
//     div.input {
//       margin-left: 0;
//     }
//   }
// 
//   .inputs-list {
//     margin-bottom: 0;
//     li {
//       padding-top: 0;
//       label {
//         font-weight: normal;
//         padding-top: 0;
//       }
//     }
//   }
// 
//   div.clearfix.error {
//     padding-top: 10px;
//     padding-bottom: 10px;
//     padding-left: 10px;
//     margin-top: 0;
//     margin-left: -10px;
//   }
// 
//   .actions {
//     margin-left: -20px;
//     padding-left: 20px;
//   }
// }
