.gallery {
  margin-left: -$gutter-width;
  margin-bottom: 0;
  @include clearfix();

  li {
    display: inline;
  }

  a {
    float: left;
    padding: 4px;
    margin: 0 0 $baseline $gutter-width;
    border: 1px solid #ddd;
    @include border-radius(4px);
    @include box-shadow(0 1px 1px rgba(0, 0, 0, .075));

    img {
      display: block;
    }
    
    &:hover {
      border-color: $link-color;
      @include box-shadow(0 1px 4px rgba(0,105,214,.25));
    }
  }
}


