@mixin font-shorthand($weight: normal, $size: 14px, $line-height: 20px) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
}

@mixin monospace($weight: normal, $size: 12px, $line-height: 20px) {
  font-family: "Monaco", Courier New, monospace;
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
}

@mixin sans-serif($weight: normal, $size: 14px, $line-height: 20px) {
  // font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
  @include font-shorthand($weight, $size, $line-height);
}

@mixin serif($weight: normal, $size: 14px, $line-height: 20px) {
  font-family: "Georgia", Times New Roman, Times, serif;
  @include font-shorthand($weight, $size, $line-height);
}


@mixin border-radius($radius: 5px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin border-radius-tl($radius: 5px) {
  -webkit-border-top-left-radius: $radius;
  -moz-border-radius-topleft: $radius;
  border-top-left-radius: $radius;
}

@mixin border-radius-tr($radius: 5px) {
  -webkit-border-top-right-radius: $radius;
  -moz-border-radius-topright: $radius;
  border-top-right-radius: $radius;
}

@mixin border-radius-bl($radius: 5px) {
  -webkit-border-bottom-left-radius: $radius;
  -moz-border-radius-bottomleft: $radius;
  border-bottom-left-radius: $radius;
}

@mixin border-radius-br($radius: 5px) {
  -webkit-border-bottom-right-radius: $radius;
  -moz-border-radius-bottomright: $radius;
  border-bottom-right-radius: $radius;
}

@mixin box-shadow($shadow: 0 1px 3px rgba(0, 0, 0, .25)) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin vertical ($start-color: #555, $end-color: #333) {
    background-color: $end-color;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from($start-color), to($end-color)); // Konqueror
    background-image: -moz-linear-gradient(top, $start-color, $end-color); // FF 3.6+
    background-image: -ms-linear-gradient(top, $start-color, $end-color); // IE10
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $start-color), color-stop(100%, $end-color)); // Safari 4+, Chrome 2+
    background-image: -webkit-linear-gradient(top, $start-color, $end-color); // Safari 5.1+, Chrome 10+
    background-image: -o-linear-gradient(top, $start-color, $end-color); // Opera 11.10
    background-image: linear-gradient(top, $start-color, $end-color); // The standard
    // filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)", $start-color, $end-color)); // IE9 and down
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin form-field-state($text-color: #555, $border-color: #ccc, $background-color: #f5f5f5) {
  // Set the text color
  > label,
  .help-block,
  .help-inline {
    color: $text-color;
  }
  // Style inputs accordingly
  input,
  textarea {
    color: $text-color;
    border-color: $border-color;
    &:focus {
      border-color: darken($border-color, 10%);
      @include box-shadow(0 0 6px lighten($border-color, 20%));
    }
  }
  // Give a small background color for input-prepend/-append
  .input-prepend .add-on,
  .input-append .add-on {
    color: $text-color;
    background-color: $background-color;
    border-color: $text-color;
  }
}
