@import "normalize";
@import "grid";
@import "variables";
@import "mixins";
@import "typography";
@import "tables";
@import "gallery";
@import "buttons";
@import "forms";
@import "alerts";

$columns: 12;
$column-width: 60;
$gutter-width: 20;
$total-width: 100%;

body {
  background: #fff;
}

#page {
  padding: 0 20px 0 20px;
  margin-top: ($baseline * 3);
}

header {
  border-bottom: 1px solid #ccc;
  background: #fff;
  margin-bottom: 18px;
  padding: 5px 0 5px 18px;
  position: relative;
  @include vertical(#fafafa, #eaeaea);
}

#userbox {
  ul {
    margin: 0;
    list-style: none;
  }

  li {
    display: inline;
    float: left;
    border-left: 1px solid $gray-light;
    margin: 10px 0 10px 0;
  }

  li:first-child {
    border-left: none;
  }

  a {
    display: block;
    padding: 0 10px 0 10px;
    font-weight: bold;
    // letter-spacing: 1px;
    color: #555;
    &:hover {
      text-decoration: none;
      color: #000;
    }
  }
  
  position: absolute;
  top: 0;
  right: 18px;
  @include border-radius-br(6px);
  @include border-radius-bl(6px);
  background: #fff;
  @include box-shadow;
}

article {
  @include push(3);
  @include pull(3);
}

form {
  background: #f5f5f5;
  min-width: 300px;
}

form ul {
  margin: 0;
  list-style: none;
}

form li {
  margin-top: 10px;
}

form li:first-child {
  margin-top: 0;
}

fieldset {
  @include border-radius;
}

li.actions p {
  margin: 0;
  padding-left: 10px;
  float: left;
  text-align: left;
  font-size: 11px;
}

.center {
  text-align: center;
}

.alert-box {
  @include push(2);
  @include pull(2);
}
