table {
  width: 100%;
  margin-bottom: $baseline;
  padding: 0;
  font-size: $basefont;
  border-collapse: collapse;

  th,
  td {
    padding: 10px 10px 9px;
    line-height: $baseline;
    text-align: left;
  }

  th {
    padding-top: 9px;
    font-weight: bold;
    vertical-align: middle;
  }

  td {
    vertical-align: top;
  }

  tbody th {
    vertical-align: top;
  }

  thead {
    background: $table-header-color;
  }
}

table.bordered {
  border-collapse: separate;
  *border-collapse: collapse; /* IE7, collapse table to remove spacing */
  border: 1px solid $table-border-color; 
  @include border-radius(4px);

  thead tr:first-child th:first-child {
    @include border-radius(4px 0 0 0);
  }

  thead tr:first-child th:last-child {
    @include border-radius(0 4px 0 0);
  }

  tbody tr:last-child td:first-child {
    @include border-radius(0 0 0 4px);
  }

  tbody tr:last-child td:last-child {
    @include border-radius(0 0 4px 0);
  }
}

table.column-bordered {
  th + th,
  td + td,
  th + td {
    border-left: 1px solid $table-border-color;
  } 
}

table.row-bordered {
  td {
    border-top: 1px solid $table-border-color;
  } 
}

table.condensed {
  th,
  td {
    padding: 5px 5px 4px;
  }
}

table tbody tr.even,
table tbody tr.alt { 
  background: $table-zebra-color; 
}

table.zebra {
  tbody tr:nth-child(even) { 
    background: $table-zebra-color; 
  }
}
