// Baseline grid
$basefont: 13px;
$baseline: 18px;

// Grays
$black: #000;
$gray-dark: lighten($black, 25%);
$gray: lighten($black, 50%);
$gray-light: lighten($black, 75%);
$gray-lighter: lighten($black, 90%);
$white: #fff;

// Accent Colors
$blue: #049CDB;
$blue-dark: #0064CD;
$green: #46a546;
$red: #9d261d;
$yellow: #ffc40d;
$orange: #f89406;
$pink: #c3325f;
$purple: #7a43b6;

// Links
$link-color: #0069d6;
$link-color-hover: darken($link-color, 15);

$table-border-color: #ddd;
$table-header-color: #f5f5f5;
$table-zebra-color: #f9f9f9;
