!!!
%html
  %head
    %meta{ :charset => 'utf-8' }
    %title MailAdmin
    = stylesheet_link_tag('application', :media => 'all')
    = javascript_include_tag('application')
    = csrf_meta_tags

  %body
    %header
      = link_to(image_tag('branding/logo.png'))
      #userbox
        %ul
          %li= link_to('Dashboard', "#")
          %li= link_to('ravage@fragmentized.net', '#')
          %li= link_to('Logout', '#')
    .nav-background
    #page
      %nav
        %h3 E-Mail
        %ul
          %li
            = link_to('Virtual Users', :users, class: ('active' if controller_name == 'users'))
          %li
            = link_to('Domain', :domains, class: ('active' if controller_name == 'domains'))
      %article
        = yield
