!!!
%html
  %head
    %meta{ :charset => 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %title MailAdmin
    = stylesheet_link_tag('site', :media => 'all')
    = javascript_include_tag('application')
    = csrf_meta_tags

  %body
    %header
      = link_to(image_tag('branding/logo.png'), 'http://mk-is.pt/')
      - if manager_signed_in?
        #userbox
          %ul
            %li= link_to('Dashboard', :users)
            %li= link_to(current_manager.email, :profile)
            %li= link_to('Logout', destroy_manager_session_path, method: 'delete')
    - flash.each do |key, msg|
      .alert-box{ class: key }= msg
    #page
      %article
        = yield
